body {
  margin: 0;
  padding: 0;
}

header {
  background: #2d6360 50% 0 url(../img/lab3/huntington.jpg) no-repeat;

  background-attachment: fixed, fixed, fixed, scroll;
  background-image: url(../img/lab3/contours.png), url(../img/lab3/noise.png),
    url(../img/lab3/gridlines.png), url(../img/lab3/huntington.jpg);
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
}


.content {
  display: grid;

  grid-template-columns: 70vw 30vw;
  grid-template-rows: max-content;
}


.side-item {
  top: 0;
  background-color: #2d6360;
}


h2 {
  margin: 0;
}