.container {
    max-width: 80vw;
    margin: 0 auto;
    
    border: 1px solid #000;
}

.form-header {
    background-color: rgb(82, 160, 212);
    height: 5vh;
    padding: 2% 2% 0 2%;
    /* border-bottom: 1px solid #000; */

}

.form-header span {
    font-family: 'Courier New', Courier, monospace;
}

.form-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 3%;
}

.form-footer {
    background-color: rgb(131, 128, 128);
    text-align: center;
}

.required-signal {
    color: red;
}

.left-part > div, p {
    margin: 2%;
}

.right-part > div, p {
    margin: 3%;
}

label {
    font-weight: bold;
}

.payment-type  {
    margin-left: 60%;
    margin-bottom: 5%;
}
.payment-type label {
    font-weight: lighter;   
}

.btn {
    background-color: rgb(14, 75, 75);
    color: aliceblue;
    padding: 5px 30px;
    border-radius: 5px;
}

.address {
    margin-left: 62%;
}
.validator {
    margin: 2%;
}

.floatright{
    float: right;
}

select { width: 13.8em }