.full-page {
    margin-left: 5vw;
    background-color: gray;
    width: 90vw;
    height: 100%;
    padding-left: 2%;
}

.about-title {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p > span {
    font-weight: bold;
    color: red;
}

.sad-span {
    margin-left: 2%;
}
.extra {
    margin: 3%;
}

.extra-link{
    text-decoration: none;
    color: red;

}
.extra-link:hover{
    text-decoration: underline;    
}

.extra > p {
    transform: rotateX(0.5turn);
}
.extra > p::first-letter{
    font-size: 24px;
    color: red;
}

ol > li > ul > li {
    color: yellow;
    list-style-type: none;
}

ol > li > ul > li > ul > li {
    color: black;
    list-style-type: none;
}

